@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: "Open Sans";
  color: #fff; }

/*%bouton { border-radius: 4px; padding: 10px 15px 10px 15px;}
%boutonInfo { border-radius: 4px; padding: 10px 15px 10px 15px; color: #fff; background-color: $Color; border: 1px solid; }*/
body section {
  width: 80%;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.multichoix a {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  padding: 10px; }

* {
  box-sizing: border-box;
  background-color: #0D0D0D;
  /*scroll-behavior: smooth;*/ }

header img {
  width: 15%;
  height: auto;
  padding: 20px;
  z-index: 100; }

#intro {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px; }
  #intro h1, #intro h2 {
    font-family: "Oswald"; }
  #intro h1 {
    font-size: 70px;
    font-weight: 700; }
  #intro h2 {
    font-size: 40px;
    font-weight: 300; }
  #intro div {
    display: flex;
    justify-content: center;
    align-items: center; }
    #intro div a {
      text-decoration: none;
      margin-top: 100px; }
      #intro div a i {
        color: #fff;
        font-size: 50px; }

.badges {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*    margin-left: 100px;
      margin-right: 100px;*/
  margin-top: 50px;
  margin-bottom: 50px; }
  .badges img {
    width: 7%; }

h3 {
  font-weight: 400;
  font-size: 25px;
  text-align: center; }

/*
.question{
    height: 700px;
}
*/
#next {
  border: 1px solid #fff;
  font-size: 20px;
  width: 100px;
  height: 40px;
  visibility: visible;
  align-items: flex-end; }

#fin {
  border: 1px solid #fff;
  font-size: 20px;
  width: 150px;
  height: 40px;
  visibility: hidden;
  align-items: flex-end; }
  #fin a {
    text-decoration: none; }

.theorie {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin: 10px;
  padding: 10px; }
  .theorie h4 {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 400; }
  .theorie .h4mauve {
    color: #A203FE; }
  .theorie .h4green {
    color: #06FF61; }
  .theorie .h4yellow {
    color: #E0BD10; }

#grosDiv {
  display: flex;
  justify-content: center;
  align-items: center; }
  #grosDiv #adaImg {
    width: 20%;
    margin-right: 20%; }
  #grosDiv #drag {
    width: 70%;
    height: auto; }
  #grosDiv form {
    font-size: 20px;
    line-height: 2; }
    #grosDiv form #inputq4 {
      border-bottom: 2px dashed #A203FE;
      margin-left: 10px; }
    #grosDiv form #inputq9 {
      border-bottom: 2px dashed #E0BD10;
      margin-left: 10px; }
    #grosDiv form #btnq3:hover {
      color: #06FF61;
      border-color: #06FF61; }
    #grosDiv form #btnq4:hover {
      color: #A203FE;
      border-color: #A203FE; }
    #grosDiv form #btnq9:hover {
      color: #E0BD10;
      border-color: #E0BD10; }
  #grosDiv input {
    border: none;
    border-bottom: 2px dashed #06FF61;
    width: 50px;
    margin-right: 10px; }
  #grosDiv button {
    border: 1px solid #fff;
    width: 60px;
    padding: 5px;
    margin-left: 10px; }

.multichoix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 30%;
  text-align: center; }
  .multichoix a {
    cursor: pointer; }

#multigreen a:hover {
  border-color: #06FF61; }

#multimauve a:hover {
  border-color: #A203FE; }

#multiyellow a:hover {
  border-color: #E0BD10; }

#contenant {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500; }

#contenant > div {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #A203FE;
  display: flex;
  justify-content: center;
  align-items: center; }
  #contenant > div p {
    background-color: transparent;
    text-align: center; }

#cibles {
  display: flex;
  justify-content: center; }

#targettrue {
  width: 150px;
  height: 150px;
  border: 1px solid #A203FE;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

#targetfalse {
  width: 150px;
  height: 150px;
  border: 1px solid #A203FE;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

#barre {
  height: 50px; }

#draggables {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500; }

#draggables > div {
  margin: 10px; }

.draggable {
  width: 150px;
  height: 150px;
  background-color: #06FF61;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .draggable span {
    background-color: transparent;
    text-align: center; }

.dragyellow {
  background-color: #E0BD10; }

#droppables {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#droppables > div {
  width: 150px;
  height: 150px;
  border: 1px solid #06FF61;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

#droppablesyel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #E0BD10; }
  #droppablesyel div {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0BD10; }

/*Bar de progression*/
.progressbar li {
  list-style-type: none;
  width: 10%;
  float: left;
  position: relative; }

.progressbar li:before {
  width: 13px;
  height: 13px;
  content: '';
  background-color: white;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  transition: all .8s; }

.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: white;
  top: 7px;
  left: -50%;
  z-index: -1;
  transition: all .8s; }

.progressbar li:first-child:after {
  content: none; }

.progressbar li.green:before {
  border-color: #06FF61;
  background-color: #06FF61;
  transition: all .8s; }

.progressbar li.green:after {
  background-color: #06FF61;
  transition: all .8s; }

.progressbar li.purple:before {
  border-color: #A203FE;
  background-color: #A203FE;
  transition: all .8s; }

.progressbar li.purple:after {
  background-color: #A203FE;
  transition: all .8s; }

.progressbar li.yellow:before {
  border-color: #E0BD10;
  background-color: #E0BD10;
  transition: all .8s; }

.progressbar li.yellow:after {
  background-color: #E0BD10;
  transition: all .8s; }
