@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: "Open Sans";
  color: #fff; }

/*%bouton { border-radius: 4px; padding: 10px 15px 10px 15px;}
%boutonInfo { border-radius: 4px; padding: 10px 15px 10px 15px; color: #fff; background-color: $Color; border: 1px solid; }*/
body section {
  width: 80%;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

#multichoix a {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  padding: 10px; }

* {
  box-sizing: border-box;
  background-color: #0D0D0D;
  scroll-behavior: smooth; }

header img {
  width: 15%;
  height: auto;
  padding: 20px; }

#intro {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px; }
  #intro h1, #intro h2 {
    font-family: "Oswald"; }
  #intro h1 {
    font-size: 70px;
    font-weight: 700; }
  #intro h2 {
    font-size: 40px;
    font-weight: 300; }
  #intro div {
    display: flex;
    justify-content: center;
    align-items: center; }
    #intro div a {
      text-decoration: none;
      margin-top: 100px; }
      #intro div a i {
        color: #fff;
        font-size: 50px; }

h3 {
  font-weight: 400;
  font-size: 30px; }

/*
.question{
    height: 700px;
}
*/
#next {
  border: 1px solid #fff;
  font-size: 20px;
  width: 100px;
  height: 40px; }

.theorie {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin: 10px;
  padding: 10px; }

#multichoix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  #multichoix a {
    cursor: pointer; }

#contenant {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 500; }

#contenant > div {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #A203FE;
  display: flex;
  justify-content: center;
  align-items: center; }
  #contenant > div p {
    background-color: transparent;
    text-align: center; }

#cibles {
  display: flex;
  justify-content: center; }

#targettrue {
  width: 150px;
  height: 150px;
  border: 1px solid #A203FE;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

#targetfalse {
  width: 150px;
  height: 150px;
  border: 1px solid #A203FE;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
